
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
		  <a href="#/"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button></a>
        <h1 style="margin-left:20px;"><span class="glyphicon glyphicon-user"></span>&nbsp;Login</h1>
      </div>
      <div class="modal-body">
          <form id="Form" class="form col-md-12 col-sm-6 center-block" ng-submit="login()">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Username"  ng-model="user.username" >
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password" ng-model="user.password" >
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign In</button>
              <!--<span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>-->
            </div>
            <div class="form-group">
<!--              <button onclick="clearForm()" class="btn btn-primary btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-trash"></span>&nbsp;Clear</button>-->
              <a onclick="clearForm()" class="btn btn-primary btn-danger btn-lg btn-block" role="button">Clear</a>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <a  href="#/" class="btn btn-default" role="button">Cancel</a>
<!--          <button class="btn" data-dismiss="modal" aria-hidden="true"  href="#/">Cancel</button>-->
		  </div>	
      </div>
  </div>
  </div>
</div>
